<header class="header">
  <div class="container header__container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list__item">
          <a class="nav-list__link nav-list__link_current link" href="#"
            >Home</a
          >
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link link" href="#">Menu</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link link" href="#">Our Story</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link link" href="#">Contact Us</a>
        </li>
      </ul>
    </nav>
    <button class="search-btn" type="button">search</button>
  </div>
</header>
