<section class="hero">
  <div class="container-xxl pt-5 pb-5">
    <!-- Hero / Home -->
    <div class="row">
      <div class="col-md-12 col-lg-5">
        <img class="logo mt-5" src="./img/headerLogo.png" alt="headerLogo" />
        <!-- <img class="name" src="./img/headerTitle.png" alt="site name" /> -->
        <h1 class="pb-5 my-5 title text-capitalize">italian food</h1>
        <h2 class="mb-4 posttitle text-capitalize">your italian restourant</h2>
        <button
          type="button"
          class="button-hero btn-light text-uppercase mb-4"
          onclick="location.href='#ourStory'"
        >
          Read more
        </button>
        <p class="card-text description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda
          cupiditate deleniti laboriosam tempora accusamus quos explicabo dicta
          optio!
        </p>
      </div>
      <div
        class="col-md-12 col-lg-7 px-0 position-relative d-flex justify-content-center flex-column"
      >
        <img src="./img/header_leaves-big.png" class="leaves" alt="" />
        <img src="./img/spagetti.png" class="spagetti" alt="" />
        <img src="./img/souse.png" class="souce" alt="" />
      </div>
    </div>
  </div>
</section>
